body {  
  background-color: teal;
background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



h1{
        font-size: 40pt;
        margin-top: 30px;
        color:black;
        font-family:cursive;
        text-align: center;

}

#home {
    width: 100%;
    position: relative;
    left: -8px;
    height: 300px;
    background: url(https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=608)
          center 75% fixed no-repeat;
    background-position: top center;
      background-size: cover;
    padding: 20px;
  }

h2{
  font-size: 20pt;  
  font-family: monospace;
}
  content{
  font-size: 14pt;
  color: black;
  font-family: sans-serif;

}